<!-- Partial Form for filtering the category on the home page-->
<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body">
<form class="uk-form-stacked" action="/home" method="POST">
    {{> filter-category}}
  <div class="uk-margin">
    <button class="uk-button uk-button-primary uk-button-large" value="Submit">Filter By Category</button>
  </div>
</form></div>