<!-- Partial for the filter by category form on the admins view user page-->
<form class="uk-form-stacked" action="/view-user/{{userid}}" method="POST">
  {{> filter-category}}
  <div class="uk-margin">
    <button class="uk-button uk-button-default" value="Submit">Filter By Category</button>
  </div>
</form>