<div class="uk-margin">
  <div class="uk-card uk-card-default uk-card-small uk-text-center uk-text-baseline">
    <div class="uk-card-media-top">
      <img width="200" src="{{url}}">
    </div>
    <div>
      <div class="uk-card-footer">
        <p> {{public_id}}</p>
        <a href="delete-image/{{_id}}" uk-icon="icon: trash"></a>
      </div>
    </div>
  </div>
</div>