<!-- Partial with a list of all users points of interest and menu to filter by category-->

      {{> poi-table }}
    <div class="uk-margin">
      {{> filter-category-home}}
    </div>
    {{> error }}

