<!-- Administration Dashboard shows a list of all users -->
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Great Lighthouses of Ireland" subTitle="POI"}}
  {{> main-menu _id="users"}}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
      {{> listusers}}
    </div>
  </div>
<div class="uk-width-expand@m">
    {{> add-category}}
    {{> delete-category}}
</div>

</div>