
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Great Lighthouses of Ireland" subTitle="POI"}}
  {{> main-menu _id="home"}}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <h3>{{firstName}} {{lastName}}'s Points Of Interest</h3>
    </div>
    </div>
<div class="uk-margin">
    <div class="uk-width-expand@m">{{> poi-list}}</div>
</div></div>
  <div class="uk-section uk-section-muted">
    <div class="uk-container">
    <div class="uk-width-expand@m">{{> add-poi-form}}</div>
    </div></div>
</div>
<!-- decorative footer -->

<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">

    <div class="uk-child-width-1-5@m" uk-grid uk-lightbox="animation: fade">
      <div>
        <a class="uk-inline" href="images/lighthouse6.png" data-caption="Caption 1">
          <img src="images/lighthouse6.png" alt="">
        </a>
      </div>
      <div>
        <a class="uk-inline" href="images/lighthouse2.png" data-caption="Caption 2">
          <img src="images/lighthouse2.png" alt="">
        </a>
      </div>
      <div>
        <a class="uk-inline" href="images/lighthouse3.png" data-caption="Caption 3">
          <img src="images/lighthouse3.png" alt="">
        </a>
      </div>
      <div>
        <a class="uk-inline" href="images/lighthouse4.png" data-caption="Caption 3">
          <img src="images/lighthouse4.png" alt="">
        </a>
      </div>
      <div>
        <a class="uk-inline" href="images/lighthouse5.png" data-caption="Caption 3">
          <img src="images/lighthouse5.png" alt="">
        </a>
      </div>
    </div>